In [56]:
import pandas as pd
df = pd.read_csv('/Users/lovely/Documents/Udemy/100_DaysOfProgramming/071_Day/salaries_by_college_major.csv')
df.head() # This will show the first 5 rows
df.shape # This will show the dimensions of the table (Columns, rows)
df.columns # This will show the columns of the dataframe
df.isna() # This will show if the value is not a number repersented as a boolean
df.tail()
# clean_df = df.dropna() 
clean_df = df.drop(50)
clean_df.tail()
# print(clean_df['Starting Median Salary'].idxmax()) # This will give the index of the number with the highest value
# clean_df["Undergraduate Major"][43] # this will give you the value for the exact field 
clean_df.loc[43]


#Challenge 1  for Day 72
# What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).
mid_career_salary = clean_df.loc[clean_df['Mid-Career Median Salary'].idxmax()]
print(f'Graduates earn with this major \"{mid_career_salary['Undergraduate Major']}\" a salary of \"{mid_career_salary['Mid-Career Median Salary']}\" which is the highest mid-career salary!')

# Which college major has the lowest starting salary and how much do graduates earn after university?
lowest_starting_salary = clean_df.loc[clean_df['Starting Median Salary'].idxmin()]
print(f'Graduates with the major \"{lowest_starting_salary['Undergraduate Major']}\" a salary of \"{lowest_starting_salary['Starting Median Salary']}\" which is the lowest starting career salary!')

# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 
lowest_mid_career_salary = clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]
print(f'Graduates with the major \"{lowest_mid_career_salary['Undergraduate Major']}\" a salary of \"{lowest_mid_career_salary['Starting Median Salary']}\" which is the lowest mid-career salary!')

spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)
lowest_values = clean_df.sort_values('Spread')
lowest_values[['Undergraduate Major','Spread']]

#Challenge 2 for Day 72
clean_df.sort_values('Mid-Career 90th Percentile Salary',ascending=False).head()
highest_values = clean_df.sort_values('Spread', ascending=False)
highest_values[['Undergraduate Major', 'Spread']].head()

Graduates earn with this major "Chemical Engineering" a salary of "107000.0" which is the highest mid-career salary!
Graduates with the major "Spanish" a salary of "34000.0" which is the lowest starting career salary!
Graduates with the major "Education" a salary of "34900.0" which is the lowest mid-career salary!

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM